$header-bg: #474b30;
$head-txt: #b6af48;
$head-ahover: #9c813c;
$text-col: #f2f2f2;
$body-bg: #222222;
$btn-bg-col: #7e9049;

//linked colors overwrite
$footer-txt: $text-col;
$btn-bg-colhover: $head-txt;
$btn-text: $text-col;
$form-bg: $header-bg;
