$header-bg: #474b30;
$head-txt: #b6af48;
$head-ahover: #9c813c;
$footer-txt: #b4b4b4;
$body-bg: #222222;
$text-col: #f2f2f2;
$btn-bg-col: #7e9049;
$btn-bg-colhover: #b6af48;
$btn-text: #f2f2f2;
$form-bg: #474b30;
