body,
main {
  background-color: $body-bg;
  color: $text-col;
}
main {
  font-family: $text-font;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $h-font;
  }
  h1 {
    font-size: $h1size;
  }
  h2 {
    font-size: $h2size;
  }
  h3 {
    padding: $btn-plr;
    font-size: $h3size;
  }
  h4 {
    font-size: $h4size;
  }
  h5 {
    font-size: $h5size;
  }
  h2 {
    font-size: $h5size;
  }
  #home {
    display: block;
    width: 100vw;
    > img {
      width: 100%;
      aspect-ratio: 5/1;
      object-fit: cover;
    }
  }
  #aboutme {
    display: flex;
    margin-bottom: $btn-plr;
    justify-content: space-between;
    align-items: flex-start;
    > p {
      padding: $btn-plr;
      padding-top: 0;
    }
    > img {
      width: 35%;
      min-width: 150px;
      aspect-ratio: 1/1;
      padding-right: $btn-plr;
    }
  }
}
